:root {
  --color-Lav: #EEE2FE;
  --color-hov: #4D62CD
  
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--color-Lav);
}

h1 {
  font-size: 40px;
}
a {
  color: black;
}

a:hover {
  color: var(--color-hov);
}

nav ul {
  display: block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.call {
  font-style: italic;
  font-size: 18px;
}

header {
  background-image: https://cdn.glitch.com/4a049c3c-7701-4771-9366-0d6fff4d027c%2FBlobs_Title.svg?v=1607395375106;
}